:host {
    display: block;
    height: 4rem;
}
._3voSl0 {
  background-color: #172337;
  min-width: 978px;
  height: 4rem;
  border-top: 1px solid #ddd;
  margin-top: 25px;
  margin-left: 0px;
  text-align: center;
  color: aliceblue;
}

